
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml.com" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Data</title>
</head>
<body>
<form action="#" th:action="@{/save}" th:object="${emp}" method="post">
Id: <input type="text" th:field="*{id}" readonly="readonly"/><br>
Name: <input type="text" th:field="*{name}" /><br>
add: <input type="text" th:field="*{city}" /><br>
password: <input type="text" th:field="*{password}" /><br>
zip: <input type="text" th:field="*{zip}" /><br>
<button type="submit">Edit</button>
</form>
</body>
</html>